.certificate {
    height: 100%;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .certificate-img{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  .certificate-img img{
    border-radius: 10%;
    height: 80%;
    width: auto;
  }
  
  .info-solid{
    width: 100%;
    height: 50vh;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .hosting {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 0px;
    box-shadow:
    5.7px 3.8px 3.1px rgba(0, 0, 0, 0.024),
    15.7px 10.4px 8.5px rgba(0, 0, 0, 0.035),
    37.7px 25px 20.5px rgba(0, 0, 0, 0.046),
    125px 83px 68px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    background-color: #f7f7f7;
    padding: 0px 8px;
    font-size: 8px;
    font-weight: 500;
  }
  .hosting span{
    padding-left: 2px;
    font-weight: 800;
  }
  
  .certificate-menu{
    width: 80%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  }
  
  .certificate-menu button{
    width: 50%;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 20px;
  }
  
  .certificate-owner{
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  
  .certificate-owner h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
  
  .certificate-owner p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  .icon-validate svg{
    width: 28px;
    height: 28px;
    color: #17cf57;
  }
  
  .icon-not-validate svg{
    width: 28px;
    height: 28px;
    color: #e40b0b;
  }
  
  .nft{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .active-menu-nft{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 0px 0px 25px 0px;
  }
  
  .active-menu-nft div{
    text-align: center;
    width: max-content;
  }
  .active-menu-nft h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
  div .border{
    border: #000;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 6px 25px;
  }
  
  #adress{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  #adress span{
    font-weight: 600;
    font-size: 18px;
  }
  
  #id{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  #id span{
    font-weight: 600;
    font-size: 18px;
  }
  
  .solid{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .active-menu-solid{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 0px 0px 25px 0px;
  }
  .active-menu-solid h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
  
  #dimensions{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  #dimensions span{
    font-weight: 600;
    font-size: 18px;
  }
  
  #frame{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  #frame span {
    font-weight: 600;
    font-size: 18px;
  }
  
  .active-link-solid{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .logo-opensea svg{
    width: 40px;
    height: 40px;
  }
  
  .link-nft{
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  }
  .viewopensea{
    font-weight: 800;
    font-size: 14px;
    line-height: 10px;
  }
  .logo-arrow svg{
    width: 20px;
    height: 20px;
  }
  
  .spacing{
    height: 10px;
  }